<ion-header>
  <ion-toolbar>
    <ion-title>
      Cadastro
    </ion-title>
  </ion-toolbar>
</ion-header>

 <ion-content>
   <ion-input [(ngModel)]="nome"> Nome: </ion-input>
   <ion-input [(ngModel)]= "Email"> Email: </ion-input>
   <ion-input [(ngModel)]= "senha"> Definir Senha: </ion-input>
   <ion-input [(ngModel)]= "imc"> I.M.C : </ion-input>
   <ion-input [(ngModel)]= "altura"> Altura: </ion-input>
   <ion-input [(ngModel)]= "sexo"> Sexo: </ion-input>
   <ion-button href = "exercicio"> Próximo  </ion-button>

   </ion-content>
