<ion-header>
  <ion-toolbar>
    <ion-title>
      Cadastro
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="floating"> Nome: </ion-label>
    <ion-input type="text" [(ngModel)]="cadastro.nome" placeholder=" "></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating"> Telefone: </ion-label>
    <ion-input type="text" [(ngModel)]="cadastro.telefone" placeholder=" ">
    </ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating"> Email: </ion-label>
    <ion-input type="text" [(ngModel)]="cadastro.email" placeholder=" ">
    </ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating"> Definir senha: </ion-label>
    <ion-input type="password" [(ngModel)]="cadastro.senha" placeholder=" ">
    </ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating"> Altura </ion-label>
    <ion-input type="text" [(ngModel)]="cadastro.altura" placeholder="">
    </ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating"> Idade: </ion-label>
    <ion-input type="text" [(ngModel)]="cadastro.idade" placeholder="">
    </ion-input>
  </ion-item>
  <ion-button (click)="Salvar()" expand="full" color="danger"> Salvar</ion-button>
  <ion-label> Escolha as opções de treino </ion-label>
  <ion-item>
    <ion-label> Opções: </ion-label>
    <ion-select [(ngModel)]= "endereco" multiple = "false" okText= "Selecionar">
    <ion-select-option value= "barriga"> Abdomen </ion-select-option>
    <ion-select-option value= "pernas"> Pernas e Glúteos</ion-select-option>
    <ion-select-option value= "panturrilha"> Panturrilha </ion-select-option>
    <ion-select-option value= "alongamento"> Alongamento </ion-select-option>
    <ion-select-option value= "exercicio"> Pernas, glúteos e abdomen </ion-select-option>
    </ion-select>
  </ion-item>
  <ion-button expand= "full" color="danger" shape = "aroud" (click)= "Proximo()"> Proximo </ion-button>
</ion-content>
