<ion-header>
  <ion-toolbar>
    <ion-title>cidade-salvar</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-item>
    <ion-label position="floating">Nome</ion-label>
    <ion-input name="nome" [(ngModel)]="cidade.nome"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Sigla</ion-label>
    <ion-select [(ngModel)]="cidade.estado">
      <ion-select-option *ngFor='let estado of listaEstado | async' [value]="estado">
        {{estado.nome}}
      </ion-select-option>
    </ion-select>
  </ion-item>
  <ion-button expand="full" shape="round" (click)="salvar()">salvar</ion-button>
</ion-content>
