<ion-header>
  <ion-toolbar>
    <ion-title>Lista de Pessoas Cadastradas </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <h1> </h1>
  <ion-label> &nbsp; &nbsp;  Nome    &nbsp;   &nbsp;  &nbsp;  &nbsp; &nbsp; &nbsp;     IMC    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;   Idade </ion-label>
  <br>
  <ion-list>
    <ion-item *ngFor = "let pessoa of listaUsuario | async">
      <ion-label>{{ pessoa.nome }}</ion-label>
      <ion-label>{{ pessoa.imc}}</ion-label>
      <ion-label>{{ pessoa.idade}}</ion-label>
    </ion-item>
  </ion-list>
  <br/>
  <ion-button expand="full" color= "danger" href = "home"> Voltar </ion-button>
</ion-content>
