<ion-header>
  <ion-toolbar>
    <ion-title>
      Go Training
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <ion-input [(ngModel)]="login.nome"> Nome: </ion-input>
    <ion-input [(ngModel)]="login.senha"> Senha: </ion-input>
    <ion-button expand="full" color="danger" (click)="salvar()"> Salvar login </ion-button>
    <ion-button expand="full" color="danger" href="exercicio"> Próximo </ion-button>
    <ion-button expand="full" color="danger" href="cadastro"> Cadastrar-se </ion-button>
    <ion-button expand="full" color="danger" href= "listar"> Lista </ion-button>
  </div>
</ion-content>
